.join-group {
    display: flex;
    flex-direction: column;
    margin-top: 96px;
    justify-content: center;
    align-items: center;
    text-align: center;

    .logo {
        width: 320px;
        height: auto;
    }

    .message {
        margin-top: 48px;
        font-size: 24px;
    }

    .cta {
        margin-top: 16px;
    }
}
