.login-panel {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    justify-content: center;
    align-items: center;

    p {
        text-align: center;
        font-size: 18px;
        margin-bottom: 32px;
    }

    img {
        max-width: 320px;
        height: auto;
    }
}
