.registration-form {
    .header {
        font-size: 24px;
        font-weight: bold;
    }

    h2 {
        font-size: 28px;
    }

    .field {
        max-width: 400px;
        display: flex;
        flex-direction: column;
        margin-top: 8px;
        margin-bottom: 28px;

        label {
            margin-bottom: 8px;
        }
    }

    .cta {
        padding-left: 60px;
        padding-right: 60px;
        font-family: Gowun Batang;
        border: none;

        &:disabled {
            background-color: #ccc;
            color: #aaa;
        }
    }
}
