.reservation {
    border-top: 1px #ba9787 solid;
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 20px;
}

#calendar {
    iframe {
        width: 100%;
        aspect-ratio: 2 / 3;
        max-height: 640px;
        border: none;
    }
}
