.time-picker {
    margin-top: 16px;

    .time-selection {
        display: inline-block;
        margin-right: 8px;
        margin-bottom: 8px;

        input[type="radio"] {
            display: none;

            + label {
                border: #ebc1ae 1px solid;
                font-size: 18px;
                padding: 8px;
                border-radius: 8px;
                background: none;
                cursor: pointer;
            }

            &:disabled + label {
                border: none;
                color: #ccc;
            }

            &:checked + label {
                background-color: #000;
                color: #ebc1ae;
            }
        }
    }
}

.customer-selection {
    .identities {
        list-style-type: none;
        margin: 0;
        padding: 0;

        input[type="radio"] {
            margin-right: 8px;
        }
    }

    .group-name {
        width: 240px;
    }
}

.create-actions {
    display: flex;
    justify-content: center;
    border-top: 1px #ba9787 solid;
    padding-top: 30px;
    padding-bottom: 60px;
}
