.door-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 180px;

    button {
        padding: 32px 64px 32px 64px;
    }

    p {
        text-align: center;
    }
}
