.blocker {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 320px;
}

.navigation {
    margin-left: auto;

    a {
        padding: 2px 8px 2px 8px;
        margin-left: 12px;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
    }

    .active {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 8px;
    }

    > ul {
        padding: 0;
        overflow-x: auto;
        width: 100%;
        height: 32px;
        white-space: nowrap;

        > li {
            display: inline-block;
            padding: 0;
            list-style: none;
            margin-right: 16px;

            > a {
                font-size: 18px;
                text-decoration: none;
            }

            .active {
                text-decoration: underline;
                text-decoration-thickness: 2px;
                text-underline-offset: 8px;
            }
        }
    }

    border-bottom: #ebc1ae 1px solid;
}

table {
    width: 100%;
}
