.extend-reservation {
    min-width: 360px;
    font-size: 18px;

    .time-selection {
        margin-top: 16px;

        .label {
            margin-right: 8px;
        }

        .hour-selection {
            display: inline-block;
            margin-right: 8px;
            margin-bottom: 8px;

            input[type="radio"] {
                display: none;

                + label {
                    border: #ebc1ae 1px solid;
                    font-size: 18px;
                    padding: 8px;
                    border-radius: 8px;
                    background: none;
                    cursor: pointer;
                }

                &:disabled + label {
                    border: none;
                    color: #ccc;
                }

                &:checked + label {
                    background-color: #000;
                    color: #ebc1ae;
                }
            }
        }
    }

    .payments {
        margin-top: 16px;
    }
}
