.no-contents {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contents > ul {
    list-style: none;
    padding: 0;

    > li {
        margin-bottom: 8px;

        > label {
            font-size: 18px;
            margin-left: 8px;
        }
    }
}
