.header {
    margin-top: 50px;
    height: 227px;
    display: flex;
    flex-direction: row;
}

.navigation {
    margin-left: auto;

    a {
        padding: 2px 8px 2px 8px;
        margin-left: 12px;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
    }

    .active {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 8px;
    }
}

.footer {
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
    span {
        display: inline-block;
        margin-right: 24px;
    }
}

@media only screen and (max-width: 400px) {
    .navigation {
        a {
            margin-left: 0px;
            font-size: 16px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .header {
        margin-top: 20px;
        flex-direction: column;
        justify-content: center;
    }

    .logotype {
        margin-left: auto;
        margin-right: auto;
    }

    .navigation {
        margin-right: auto;
        margin-top: 20px;
    }
}
